.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.content {
    background-color: lightsalmon;
    flex: 1 0 auto;
    margin: 1% 0 40px;
    padding-right: 10%;
    padding-left: 10%;

    display: flex;
    flex-flow: row wrap;
}

.item {
    flex: 1 0 300px;
    height: 300px;
    background-color: lightpink;
    margin-left: 25px;
    margin-bottom: 5px;
}

@media screen and (max-width: 425px) {
    .content {
    }
}

@media screen and (max-width: 900px) {
    .content {
    }
}

@media screen and (max-width: 1280px) {
    .content {
    }
}

@media screen and (min-width: 1281px) {
    .content {
    }
}
