.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.content {
    flex: 1 0 auto;
    margin: 1% 0 40px;
    padding-right: 10%;
    padding-left: 10%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.item {
    background-color: white;
    height: 350px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
}

.item-thumb {
    flex: 0 0 250px;
    background-image: url("assets/divan1.jpg");
    background-size: cover;
    background-position: center bottom;
}

.item-footer {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.9s ease-out;
}

.item h2 {
    color: #FF3E57;
}

.item:hover .item-thumb {
    transform: scale(1.01);
}

.item:hover .item-footer {
    background: #FF3E57;
}

.item:hover h2 {
    color: white;
}

@media screen and (max-width: 425px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 426px) and (max-width: 900px) {

}

@media screen and (min-width: 901px) and (max-width: 1280px) {

}

@media screen and (min-width: 1281px) {

}