.reviews-section {
    width: 100%;
    padding: 40px 10%;
}

.reviews-subsection {
    padding: 30px 50px;
    margin: 20px 0;
}

.rating-avg {
    font-size: 100px;
}

.rating-distribution-subsection {
    display: grid;
    grid-template-rows: repeat(5, 30px);
    grid-row-gap: 10px;
    margin-right: 10px;
}

.btn-cart, .btn-fav, .btn-review {
    max-width: 320px;
    height: 60px; border-radius: 23px;
    display: flex;
    padding: 0 15px;
    cursor: pointer;
}

.btn-cart i, .btn-fav i, .btn-review i {
    font-size: 40px;
}

.btn-review {
    background-color: #FF9100;
}

.btn-review h2 {
    color: white;
    padding: 0 15px;
}

.btn-review:hover {
    background-color: white!important;
    border: 1px solid #FF9100!important;
}

.btn-review:hover * {
    color: #FF9100!important;
}
