.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.content {
    flex: 1 0 auto;
    margin: 1% 0 40px;
    padding-right: 10%;
    padding-left: 10%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.item {
    background-color: lightpink;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

@media screen and (max-width: 425px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 426px) and (max-width: 900px) {

}

@media screen and (min-width: 901px) and (max-width: 1280px) {

}

@media screen and (min-width: 1281px) {

}