* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', 'Arial', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.content {
    flex: 1 0 auto;
    margin: 1% 0 40px;
    padding:  60px 10%;

    min-width: 100%; min-height: 100vh;
    display: flex;
    position: relative;
}

details {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 22px;
    color: #001F23;

    cursor: pointer;
    position: relative;
}
details > summary {
    list-style-type: none;
    position: relative;
}

details > summary::after {
    content: attr(data-after-closed);
    position: absolute;
    right: 0;
    top: 0;
}

details[open] > summary::after {
    content: attr(data-after-open);
}

details > summary:focus {
    outline: none
}

#categories {
    flex: 0 1 300px;
    margin-right: 30px;
    overflow: hidden;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
}

.browse {
    flex: 1 1 auto;
    margin: 20px 1% 1%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.item {
    background-color: white;
    height: 350px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
}

.item-thumb {
    flex: 0 0 250px;
    background-color: lightcoral;
    background-size: cover;
    background-position: center bottom;
}

.item-footer {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.9s ease-out;
}

.item h2 {
    color: #001F23;
}

.item:hover .item-footer {
    background: #001F23;
}

.item:hover h2 {
    color: white;
}

@media screen and (max-width: 425px) {
    .browse {
        grid-template-columns: 1fr;
    }

    #categories {
        display: none;
    }
}

@media screen and (min-width: 426px) and (max-width: 900px) {
    .browse {
        grid-template-columns: 1fr 1fr;
    }

    #categories {
        display: none;
    }
}

@media screen and (min-width: 901px) and (max-width: 1280px) {
    .browse {
        grid-template-columns: 1fr 1fr;
    }

    #categories {
        display: none;
    }
}

@media screen and (min-width: 1281px) {

}
