#btn-basket {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    position: fixed;
    bottom: 30px;
    left: 30px;

    background-color: #001F23;
    border: 1px solid #001F23;
    cursor: pointer;
}

#btn-basket > i {
    color: white;
}

#btn-basket:hover, #btn-basket:hover > i {
    background-color: white;
    color: #001F23;
}

#cart {
    position: fixed;
    left: 0;
    top:  0;
    bottom: 0;

    flex-direction: column;
    z-index: 999;
    background-color: white;
    border-right: 1px solid #001F23;

    width: 0;
    max-width: 100%;

    transition: width 0.3s linear;
}

#cart > #cart-wrapper {
    width: 0;
    overflow: hidden;
    margin: 30px;

    transition: width 0.3s linear;
}

#cart-items > .cart-item {
    margin-right: 5px;
}

#cart-items {
    overflow-x: hidden;
}

.cart-item {
    flex: 0 0 250px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    background: url("../../assets/divan1.jpg") no-repeat center;

    background-size: 100% 100%;
}

.cart-item-details {
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;

    height: 100px;
    transition: height 0.15s ease-out;
}

.cart-item-price {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: auto;
    display: none;
}

.cart-item-details > .title .stars {
    display: none;
    margin: 10px auto;
}

.cart-item-details .title {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.cart-item:hover .cart-item-details {
    height: 100%;
}

.cart-item:hover .cart-item-details .title {
    margin-top: 0;
}

.cart-item:hover .cart-item-details .title .sik{
    padding: 0 30px;
}

.cart-item:hover .cart-item-details > .title .stars {
    display: flex;
}

.cart-item:hover .cart-item-price {
    display: flex;
}

.cart-item-btn-remove {
    width: 30px;
    height: 30px;

    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cart-item-counter {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #245501;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.cart-item-btn-remove i {
    color: white;
    -webkit-text-stroke-color: #001F23;
    -webkit-text-stroke-width: 2px;
    margin: auto
}
