.carousel-wrapper {
    height: 100vh;
    max-height: 1080px;
    width: 100%;
    background-image: url("../../assets/vectorpaint.svg");
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: 0 100%;

    display: flex;
    flex-direction: column;
    padding: 0 10% 20px;
}

.header {
    margin: 3% 0 0 0;
}

.carousel {
    width: 100%;
    flex: 1 0 auto;
    background: url("../../assets/01.jpg") no-repeat center;
    background-size: 100% 100%;

    display: flex;
    flex-direction: row;

    transition: background 1s ease-out;
    margin-top: 40px;
    outline: 10px solid white;
}

.btn-l, .btn-r {
    background-color: #001F23;
    opacity: 0.15;
    width: 100px;
}

.btn-r {
    margin-left: auto;
}

.btn-l:hover, .btn-r:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .carousel-wrapper {
        max-height: 800px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-wrapper {
        max-height: 600px;
    }
}

@media screen and (max-width: 425px) {
    .carousel-wrapper {
        max-height: 400px;
    }
}
