* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: transparent;
    scroll-behavior: smooth;
}

.container1 {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.container1 .viewport {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 3% 10% 1% 10%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nav {
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;

    display: none;
    flex-flow: row nowrap;
    color: #FF3E57;
}

.nav h3:hover {
    cursor: pointer;
}

.nav h3 {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;

    position: relative;
}

.nav h3::after {
    display: block;
    content: "";

    position: absolute;
    bottom: -2px;
    left: 50%;

    width: 0;
    height: 2px;

    background: #FF3E57;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav h3:hover::after {
    width: 100%;
    left: 0;
}

.jumbotron {
    display: none;
    background-image: url("../../assets/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center 80%;
    flex: 1 0 600px;

    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.section1 {
    padding: 0 10%;
    background-color: #FF3E57;
    color: white;

    display: flex;
    flex-flow: row nowrap;
}

.section2 {
    background: url("../../assets/vectorpaint.svg") right top no-repeat;
    background-size: 30% 87.5%;
    color: #FF3E57;
    margin-bottom: 40px;

    display: flex;
    flex-flow: column nowrap;
}

.section1 .section-text {
    flex: 1 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6% 6% 6% 0;
}

.section1 .section-img {
    flex: 1 0 55%;

    background-image: url("../../assets/section1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
}

.section2 .section-text {
    padding: 0 40% 0 10%;
    flex: 0.5 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section2 .section-img {
    margin: 0 10%;
    flex: 2.5 0 auto;

    background-image: url("../../assets/02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center 80%;

    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.footer {
    background-color: #FF3E57;
    flex-basis: 280px;
    justify-self: flex-end;

    display: flex;
    flex-flow: row nowrap;
    padding: 40px 10%;
}

.footer-section {
    margin-right: 30px;
    flex: 0  1 400px;

    display: flex;
    flex-direction: column;
    color: white;
}

.subsection-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.subsection {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
}

.footer-section h2::after {
    display: block;
    content: "";
    background: white;
    height: 2px;
    width: 100%;
    margin-bottom: 20px;
}

.footer-section a {
    font-family: "Roboto", "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 8px;
}

.footer-section a:link {
    text-decoration: none;
    color: white;
}

.footer-section a:visited {
    text-decoration: none;
    color: white;
}

.footer-section a:hover {
    text-decoration: underline;
}

#up {
    display: block;
    position: fixed;
    z-index: 999;
    bottom: 5%;
    right: 30px;

    color: #FF3E57;

    cursor: pointer;
}

#up:hover {
    transform: scale(1.2);
}

h1 {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
}

h2 {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
}

p {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: justify-all;
}

img:hover{
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .header {
        margin: 35px 35px 0;
    }

    .jumbotron {
        display: flex;
        height: 260px;

        background-image: url("../../assets/jumbotron-small.png");
        background-attachment: scroll;
        background-position: 0 80%;
        flex-basis: 260px;

        margin-top: 18px;
    }

    .carousel {
        display: none;
    }

    .section1 {
        flex-basis: 275px;
        padding: 35px;
    }

    .section2 {
        background: none;
    }

    .section1 .section-text {
        padding-right: 0;
    }

    .section1 .section-img, .section2 .section-img {
        display: none;
    }

    .section2 {
        flex: 1 0 340px;
    }

    .section2 .section-text {
        padding-right: 35px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-section {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .subsection-wrapper {
        flex-flow: column nowrap;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 20px;

        margin-top: 5px;
    }

    p {
        font-size: 15px;

        margin-top: 15px;
    }
}

@media screen and (min-width: 426px) and (max-width: 900px) {
    h1 {
        font-size: 40px;
    }

    .jumbotron {
        display: flex;
    }

    h2 {
        font-size: 22px;

        margin-top: 5px;
    }

    p {
        font-size: 17px;

        margin-top: 15px;
        line-height: 24px;
    }

    .footer {
        flex-direction: column;
    }
}

@media screen and (min-width: 901px) {
    h1 {
        font-size: 40px;
    }


    h2 {
        font-size: 22px;

        margin-top: 5px;
    }

    p {
        font-size: 17px;
        line-height: 30px;

        margin-top: 25px;
    }
}

@media screen and (min-width: 426px) and (max-width: 1279px) {
    .carousel {
        display: none;
    }
    .jumbotron {
        display: flex;
        background-image: url("../../assets/jumbotron-medium.png");
        background-attachment: scroll;
        background-position: center 80%;
        height: 400px;

        margin-bottom: 40px;
        margin-top: 18px;
    }

    .jumbotron img {

    }

    .section1 {
        flex-basis: 275px;
        padding: 0 10%;
    }

    .section2 {
        flex: 1 0 800px;
    }
}

@media screen and (min-width: 1280px) {
    .container .viewport {
        height: 100vh;
    }

    .nav {
        display: flex;
    }

    .nav h3 {
        margin-left: 25px;
    }

    .jumbotron {
        flex: 1 0 auto;
        margin-top: 18px;
        margin-bottom: 40px;
    }

    .section1 {
        flex-basis: 570px;
        padding: 0 10%;
    }

    .section2 {
        flex: 1 0 1200px;
    }
}

