* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.content {
    min-width: 100%;
    padding: 40px 10%;

    display: flex;
    flex-flow: row nowrap;
}

#section1 {
    flex: 58%;
    margin-right: 30px;
    height: 100%;
}

#section2 {
    flex: 42%;
    height: 100%;
}

.pic-main {
    background-position: center;
    background-size: cover;
}

.product-description {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-self: center;
    word-wrap: anywhere;
    overflow-x: hidden;
    overflow-y: auto;

    flex-grow: 1;
    text-align: justify;
}

#product-actions {
    margin-top: auto;
}

.product-price {
    font-size: 50px;
    color: #FF3E57;
    margin-top: 40px;
}

.reviews-section {
    width: 100%;
    padding: 40px 10%;
}

.reviews-subsection {
    padding: 30px 50px;
    margin: 20px 0;
}

.rating-avg {
    font-size: 100px;
}

.rating-distribution-subsection {
    display: grid;
    grid-template-rows: repeat(5, 30px);
    grid-row-gap: 10px;
    margin-right: 10px;
}

.btn-cart, .btn-fav, .btn-review {
    max-width: 320px;
    height: 60px; border-radius: 23px;
    display: flex;
    padding: 0 15px;
    cursor: pointer;
}

.btn-cart i, .btn-fav i, .btn-review i {
    font-size: 30px;
}

.btn-fav {
    background-color: #FF3E57;
    border: 1px solid #FF3E57;
}

.btn-cart {
    background-color: #001F23;
    border: 1px solid #001F23;
}

.btn-review {
    background-color: #FF9100;
    border: 1px solid #FF9100;
}

.btn-review h2, .btn-fav h2, .btn-cart h2 {
    color: white;
    padding: 0 15px;
}

.btn-review:hover, .btn-fav:hover, .btn-cart:hover {
    background-color: white!important;
}

.btn-review:hover * {
    color: #FF9100!important;
}

.btn-fav:hover * {
    color: #FF3E57!important;
}

.btn-cart:hover * {
    color: #001F23!important;
}

.author-avatar {
    height: 100px;
    width: 100px;
    background-color: #D8D8D8;
    border-radius: 50%;
}

.review > div {
    padding: 20px 10px 30px 0;
}

@media screen and (max-width: 768px) {
    #content {
        min-height: 100vh;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }

    #section1 {
        flex-grow: 0;
        margin-right: 0;
    }

    #section2 {
        flex-grow: 0;
    }

    #reviews-details {
        flex-direction: column;
    }

    #reviews-details .reviews-subsection {
        border-right: none;
        border-bottom: 1px solid #D8D8D8;
    }

    #rating-distribution {
        flex: 0 1 auto;
    }

    .review {
        flex-direction: column;
    }
}
