details {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 22px;
    color: #001F23;

    cursor: pointer;
    position: relative;
}
details > summary {
    color: white;
    position: relative;
}

details > summary > span {
    color: #001F23;
}

details > summary > span::after {
    content: attr(data-after-closed);
    position: absolute;
    right: 0;
    top: 0;
}

details[open] > summary > span::after {
    content: attr(data-after-open);
}

details > summary:focus {
    outline: none
}

#ctg-menu {
    flex: 0 1 300px;
    margin-right: 30px;
    overflow: hidden;
}

.ctg-head {
    height: 40px;
    border-radius: 11px 11px 0 0;
    background-color: #001F23; color: white;
    display: flex;
    padding: 20px;
    align-items: center;
}

.browse {
    flex: 1 1 auto;
    margin: 30px 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 250px);
    grid-gap: 20px;
}

.item {
    height: 250px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    background: url("../../assets/divan1.jpg") no-repeat center;

    background-size: 100% 100%;
}

.item-details {
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;

    height: 100px;
    transition: height 0.15s ease-out;
}

.item-price {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: auto;
    display: none;
}

.item-rating {
    display: none;
    margin: 10px auto;
}

.item-header {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.item:hover .item-details {
    height: 100%;
}

.item:hover .item-header {
    margin-top: 0;
}

.item:hover .item-title{
    padding: 0 30px;
}

.item:hover .item-rating {
    display: flex;
}

.item:hover .item-price {
    display: flex;
}

@media screen and (max-width: 425px) {
    .main-content {
        flex-flow: column wrap;
    }

    .browse {
        grid-template-columns: 1fr;
    }

    #ctg-menu {
        flex: 0 1 auto;
        margin-right: 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 900px) {

    .main-content {
        flex-flow: column wrap;
    }

    .browse {
        grid-template-columns: repeat(auto-fill, 1fr);
    }

    #ctg-menu {
        flex: 0 1 auto;
        margin-right: 0;
    }
}

@media screen and (min-width: 901px) and (max-width: 1280px) {
    .browse {
        grid-template-columns: repeat(auto-fill, 1fr);
    }

    #ctg-menu {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        left: 0;
    }
}

@media screen and (min-width: 1281px) {
    #ctg-menu {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        left: 0;
    }
}
